.icon-arr-left {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-arr-right {
  width: 1em;
  height: 1em;
  fill: #0e101e;
}
.icon-back {
  width: 1em;
  height: 1em;
  fill: #37404D;
}
.icon-bell {
  width: 1.2em;
  height: 1em;
  fill: #734fa1;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1.1em;
  height: 1em;
  fill: #1c1c1c;
}
.icon-close {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 1.2em;
  height: 1em;
  fill: #121313;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-fb {
  width: 0.6em;
  height: 1em;
  fill: #fff;
}
.icon-hd {
  width: 1.5em;
  height: 1em;
  fill: #fff;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-left {
  width: 1em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-like {
  width: 1.2em;
  height: 1em;
  fill: #717171;
}
.icon-menu-blog {
  width: 1.5em;
  height: 1em;
  fill: #353535;
}
.icon-menu {
  width: 1.5em;
  height: 1em;
  fill: #353535;
}
.icon-mute {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-odnoklassniki {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-premiere {
  width: 1.4em;
  height: 1em;
  fill: #fff;
}
.icon-right {
  width: 1em;
  height: 1em;
  fill: #6A6E7C;
}
.icon-rounds {
  width: 1.1em;
  height: 1em;
  fill: #fff;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #353535;
}
.icon-sound {
  width: 1.9em;
  height: 1em;
  fill: #fff;
}
.icon-star-empty {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star-full {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #523796;
}
.icon-top {
  width: 1.9em;
  height: 1em;
  fill: #121313;
}
.icon-trash {
  width: 1em;
  height: 1em;
  fill: #333;
}
.icon-ukraine {
  width: 1.5em;
  height: 1em;
  fill: #fff;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}