<div class="overlay" data-popup="channel-details" style="display: none;">
    <span></span>
    <div class="popup">
        <div class="popup__topper">
            <h3 class="h3 h3_white">О КАНАЛЕ</h3>
        </div>
        <div class="popup__content">
            <div class="popup__text">
                <p>Вы активны и динамичны, желаете пребывать в приподнятом настроении, любите интриги и драйв? Тогда телеканал <strong>TV1000 Action</strong> — именно то, что Вам нужно. </p>
                <p>Канал <strong>TV1000 Action</strong> — это <b>лучшие картины жанра "экшн" от мировых киностудий:</b> захватывающие блокбастеры, динамичные военные драмы, наполненные реализмом и яркостью, леденящие душу триллеры, крутые боевики, которые заставят Вас сильней вжаться в удобное кресло. Позвольте себе получать удовольствие от настоящего качества, обеспеченного передовыми технологиями кинематографа. </p>
                <p>С телеканалом <strong>TV1000 Action</strong> вы будете на волне отличного настроения, новых эмоций и, кроме того, сможете смотреть фильмы на языке оригинала. Никаких перерывов на рекламу! </p>
                <p>Канал <strong>TV1000 Action</strong> — это более 10 премьер в месяц и 400 фильмов в год. Лучшие подборки из фильмов лидеров кассовых сборов и кино, которые высоко оценены мировым зрителем. </p>
                <p>А если Вам не спится, телеканал <strong>TV1000 Action</strong> откроет доступ к утончённому и чувственному миру обаяния и шарма фильмов для взрослых. </p>
                <p><b>Телеканал <strong>TV1000 Action</strong> — это то, что нужно энергичным и современным людям.</b></p>
                <p>Днём Вы сможете получать адреналин и целые потоки ярких эмоций, а в ночное время расслабиться с качественным эротическим кино. С телеканалом <strong>TV1000 Action</strong> звезды мирового кинематографа от Умы Турман до Брюса Уиллиса доступны Вам в любое время!</p>
            </div>
            <div class="benefits">
                <img src="img/benefits.jpg" alt="">
            </div>
        </div>
        <button type="button" class="popup__close js-popup-close"><i class="icon-close"></i></button>
    </div>
</div>