<footer class="footer">
    <div class="footer__center center">
        <div class="footer__left">
            <div class="footer__col"><a href="#" class="footer__logo"></a>
                <div class="footer__copyright">© 2009-2016 Viasat.</div>
                <div class="footer__copyright">Все права защищены</div>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__col">
                <div class="footer__nav"><a href="#" class="footer__nav-link">О КОМПАНИИ</a><a href="#" class="footer__nav-link">О нас</a><a href="#" class="footer__nav-link">Команда			</a><a href="#" class="footer__nav-link">Контакты</a></div>
            </div>
            <div class="footer__col">
                <div class="footer__nav">
                    <a href="#" class="footer__nav-link">ПРЕСС-КОМНАТА</a>
                    <a href="#" class="footer__nav-link">Полезные ссылки</a>
                    <a href="#" class="footer__nav-link">Скачать логотипы</a>
                    <a href="#" class="footer__nav-link">Скачать телепрограмму</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__nav">
                    <a href="#" class="footer__nav-link">СВЕЖЕЕ В БЛОГЕ</a>
                    <a href="#" class="footer__blog-link">
                        <p>Роли, ради которых актеры пошли на жертвы</p>
                        <small>- Пятница, 19 Июня 2015</small>
                    </a>
                </div>
            </div>
            <div class="footer__col col-25">
                <div class="footer__nav"><a href="#" class="footer__nav-link">ПОДКЛЮЧИТЬ КАНАЛЫ</a></div>
            </div>
        </div>
    </div>
</footer>