<header class="header header_promo">
    <div class="center">
        <ul class="header__channels">
            <li><a href="#"><img src="img/channel1.png" alt=""></a></li>
            <li><a href="#"><img src="img/channel2.png" alt=""></a></li>
            <li><a href="#"><img src="img/channel3.png" alt=""></a></li>
            <li><a href="#"><img src="img/channel4.png" alt=""></a></li>
            <li><a href="#"><img src="img/channel5.png" alt=""></a></li>
            <li><a href="#"><img src="img/channel6.png" alt=""></a></li>
        </ul>
    </div>
</header>