<div class="overlay" style="display: none;">
    <span></span>
    <div class="popup popup_tv">
        <div class="tv-program">
            <div class="tv-program__poster">
                <img src="img/poster2.jpg" width="144" height="200" alt="">
            </div>
            <div class="tv-program__topper">
                <div class="tv-program__header">
                    <div class="tv-program__left">
                        <div class="tv-program__title">Мой маленький ангел</div>
                        <div class="tv-program__source">Foster</div>
                    </div>
                    <div class="tv-program__right">
                        <div class="tv-program__time">
                            <p>21:43</p>
                            <span>26 сент.</span>
                        </div>
                    </div>
                </div>
                <div class="tv-program__info">
                    <i>Комедия, Драма, Семейный</i>
                    <i>Великобритания, 2011</i>
                </div>
            </div>
            <div class="tv-program__content">
                <table class="tv-program__table">
                    <tr>
                        <td>Режиссер:</td>
                        <td>Дженнифер Уэстфелд</td>
                    </tr>
                    <tr>
                        <td>В ролях:</td>
                        <td>
                            <p>Адам Скотт</p>
                            <p>Дженнифер Уэстфелд</p>
                            <p>Джон Хэмм</p>
                            <p>другие</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Время:</td>
                        <td>90 мин.</td>
                    </tr>
                    <tr>
                        <td>Возрастная категория:</td>
                        <td>12+</td>
                    </tr>
                </table>
                <div class="tv-program__order">
                    <button type="button" class="order"><span>Буду смотреть!</span> <span class="icon-bell"></span></button>
                </div>
            </div>
        </div>
        <button type="button" class="popup__close js-popup-close"><i class="icon-close"></i></button>
    </div>
</div>