<meta charset="utf-8">
<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="theme-color" content="#fff">
<meta name="format-detection" content="telephone=no">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="all" href="css/style.css">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>