{% import "./_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
<head>
    {% include "layouts/_head.html" %}
</head>
<body>

<!-- BEGIN content -->
<div class="wrapper">
    <!-- header -->
    {% include "../blocks/_header.html" %}

    <!-- page content -->
    {% block content %}{% endblock %}
    <!-- scrollTop btn -->
    <button class="scrolltop js-scrolltop">{{ mixins.icon('top') }}В начало страницы</button>
</div>
<!-- END content -->

<!-- footer -->
{% include "../blocks/_footer.html" %}

<!-- popups -->
{% include "../blocks/_channel-popup.html" %}
{% include "../blocks/_tvguide-popup.html" %}
<div class="gallery-overlay" style="display: none;">
    <button type="button" class="close js-gallery-close">{{ mixins.icon('close') }}</button>
    <div class="gallery">
        <div class="gallery__view js-gallery-view">
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
            <div>
                <img src="img/img12.jpg" alt="">
            </div>
            <div>
                <img src="img/img9.jpg" alt="">
            </div>
        </div>
        <div class="gallery__thumbnail js-gallery-thumbnail">
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img12-small.jpg" width="75" height="40" alt="">
            </div>
            <div>
                <img src="img/img9-small.jpg" width="75" height="40" alt="">
            </div>
        </div>
    </div>
</div>
<!-- BEGIN scripts -->
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>