---
title: Awards
---

{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="container old">
        <div class="center">
            <div class="out">
                <div class="n-topper">
                    <!-- breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">Все телеканалы</a>
                            </li>
                        </ul>
                    </nav>
                    <h1 class="n-h1">Награды</h1>
                </div>
                <!-- awards -->
                <div class="awards">
                    <ul class="awards__list">
                        <li class="awards__item">
                            <div class="awards__left">
                                <img src="img/golden-globe.png" width="30px" alt="">
                            </div>
                            <div class="awards__right">
                                <div class="awards__about">
                                    <span>x3</span>
                                    Премия
                                    <strong>“Золотой глобус”</strong>
                                </div>
                            </div>
                        </li>
                        <li class="awards__item">
                            <div class="awards__left">
                                <img src="img/globe-reward.png" alt="">
                            </div>
                            <div class="awards__right">
                                <div class="awards__about">
                                    <span>x3</span>
                                    Премия
                                    <strong>“Золотой глобус”</strong>
                                </div>
                            </div>
                        </li>
                        <li class="awards__item">
                            <div class="awards__left">
                                <img src="img/globe-reward.png" alt="">
                            </div>
                            <div class="awards__right">
                                <div class="awards__about">
                                    <span>x3</span>
                                    Премия
                                    <strong>“Золотой глобус”</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}