---
title: Blog
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
---

{% extends "./layouts/_layout.html" %}

{% block content %}

    <div class="container old">
        <!-- topper -->
        <div class="topper">
            <div class="blog-top">
                <div class="center">
                    <!-- breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">Блог</a>
                            </li>
                        </ul>
                    </nav>
                    <h1 class="h1 h1_white">Хедлайн блога</h1>
                    <p>Что-то там о блоге и как окрабли борозят просторы Большого театра</p>
                </div>
            </div>
        </div>
        <div class="center">
            <!-- main -->
            <div class="main">
                <div class="blog">
                    <div class="post">
                        <div class="post__info">
                            <div class="post__date">
                                <p>23</p>
                                <span>Декабря</span>
                            </div>
                            <a href="#" class="share"><span class="icon-share"></span></a>
                        </div>
                        <div class="post__content">
                            <img src="img/img8.jpg" alt="">
                            <div class="post__in">
                                <h3 class="h3">Мои правила жизни, или фразы, которые никогда не говорила Мэрил Стрип</h3>
                                <div class="post__details">
                                    <div class="post__left">
                                        <div class="category">Умные мысли</div>
                                    </div>
                                    <div class="post__right">
                                        <div class="post__views"><span class="icon-eye"></span> <span>1,2K</span></div>
                                        <div class="post__comments"><span class="icon-comment"></span> <span>1</span></div>
                                    </div>
                                </div>
                                <p>Эти слова принадлежат португальскому писателю Хосе Микарду Тексейра. Но благодаря соц.сетям, которые неожиданно приписали их Мэрил Стрип, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</p>
                                <div class="post__more">
                                    <a href="#" class="btn btn_full btn_purple btn_small">Читать далее →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__info">
                            <div class="post__date">
                                <p>19</p>
                                <span>Июня</span>
                            </div>
                            <a href="#" class="share"><span class="icon-share"></span></a>
                        </div>
                        <div class="post__content">
                            <img src="img/img9.jpg" alt="">
                            <div class="post__in">
                                <h3 class="h3">Роли, ради которых актеры пошли на жертвы</h3>
                                <div class="post__details">
                                    <div class="post__left">
                                        <div class="category">Странности</div>
                                    </div>
                                    <div class="post__right">
                                        <div class="post__views"><span class="icon-eye"></span> <span>1,2K</span></div>
                                        <div class="post__comments"><span class="icon-comment"></span> <span>1</span></div>
                                    </div>
                                </div>
                                <p>Эти слова принадлежат португальскому писателю Хосе Микарду Тексейра. Но благодаря соц.сетям, которые неожиданно приписали их Мэрил Стрип, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</p>
                                <div class="post__more">
                                    <a href="#" class="btn btn_full btn_purple btn_small">Читать далее →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__info">
                            <div class="post__date">
                                <p>23</p>
                                <span>Июня</span>
                            </div>
                            <a href="#" class="share"><span class="icon-share"></span></a>
                        </div>
                        <div class="post__content">
                            <img src="img/img8.jpg" alt="">
                            <div class="post__in">
                                <h3 class="h3">Мои правила жизни, или фразы, которые никогда не говорила Мэрил Стрип</h3>
                                <div class="post__details">
                                    <div class="post__left">
                                        <div class="category">Умные мысли</div>
                                    </div>
                                    <div class="post__right">
                                        <div class="post__views"><span class="icon-eye"></span> <span>1,2K</span></div>
                                        <div class="post__comments"><span class="icon-comment"></span> <span>1</span></div>
                                    </div>
                                </div>
                                <p>Эти слова принадлежат португальскому писателю Хосе Микарду Тексейра. Но благодаря соц.сетям, которые неожиданно приписали их Мэрил Стрип, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</p>
                                <div class="post__more">
                                    <a href="#" class="btn btn_full btn_purple btn_small">Читать далее →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post__info">
                            <div class="post__date">
                                <p>19</p>
                                <span>Июня</span>
                            </div>
                            <a href="#" class="share"><span class="icon-share"></span></a>
                        </div>
                        <div class="post__content">
                            <img src="img/img9.jpg" alt="">
                            <div class="post__in">
                                <h3 class="h3">Роли, ради которых актеры пошли на жертвы</h3>
                                <div class="post__details">
                                    <div class="post__left">
                                        <div class="category">Странности</div>
                                    </div>
                                    <div class="post__right">
                                        <div class="post__views"><span class="icon-eye"></span> <span>1,2K</span></div>
                                        <div class="post__comments"><span class="icon-comment"></span> <span>1</span></div>
                                    </div>
                                </div>
                                <p>Эти слова принадлежат португальскому писателю Хосе Микарду Тексейра. Но благодаря соц.сетям, которые неожиданно приписали их Мэрил Стрип, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</p>
                                <div class="post__more">
                                    <a href="#" class="btn btn_full btn_purple btn_small">Читать далее →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__more">
                        <a href="#" class="btn btn_more">Показать еще</a>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <aside class="sidebar">
                <!-- categories -->
                <div class="categories">
                    <h6 class="h6">Категории</h6>
                    <ul class="categories__list">
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Странности</div>
                                <div class="categories__counter">(2)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Фестивали</div>
                                <div class="categories__counter">(4)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Кино-звезды</div>
                                <div class="categories__counter">(3)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Умные мысли</div>
                                <div class="categories__counter">(8)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Photography</div>
                                <div class="categories__counter">(4)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Stories</div>
                                <div class="categories__counter">(2)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Travel</div>
                                <div class="categories__counter">(6)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <h6 class="h6">Интересное на этой неделе</h6>
                <!-- widget -->
                <div class="widget">
                    <div class="js-slick">
                        <div>
                            <a href="#" class="movie movie_comedy" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img2.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Comedy HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Безумный Макс: Дорога ярости</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">19:00</div>
                                        <div class="movie__date">26 апреля</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_premium" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img1.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Premium HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Восхождение Юпитер</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">20:00</div>
                                        <div class="movie__date">7 мая</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_comedy" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img2.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Comedy HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Безумный Макс: Дорога ярости</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">19:00</div>
                                        <div class="movie__date">26 апреля</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_premium" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img1.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Premium HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Восхождение Юпитер Восхождение Юпитер</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">20:00</div>
                                        <div class="movie__date">7 мая</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divide"></div>
                <a href="#" class="subscr">Подпишитесь на анонсы</a>
                <a href="#" class="feedback">Свяжитесь с нами</a>
                <!-- widget -->
                <div class="fb-widget">
                    <img src="img/fb-widget.jpg" alt="">
                </div>
                <!-- banners -->
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                </div>
            </aside>
        </div>
        {# section #}
        <div class="section section_channels">
            <div class="center">
                <div class="n-channels">
                    <div class="n-channels__row js-channels2">
                        {% for channel in channels %}
                            <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}