---
title: Blog
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
---

{% extends "./layouts/_layout.html" %}

{% block content %}

    <div class="container old">
        <!-- topper -->
        <div class="topper">
            <div class="top">
                <div class="center">
                    <!-- breadcrumbs -->
                    <nav class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#">Главная</a>
                            </li>
                            <li>
                                <a href="#">Блог</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="center">
            <!-- main -->
            <div class="main">
                <div class="post">
                    <div class="post__info">
                        <div class="post__date">
                            <p>23</p>
                            <span>Июня</span>
                        </div>
                        <div class="socials js-socials-post">
                            <a href="#" class="fb-counter">
                                <div class="fb-q"><i class="icon-fb"></i></div>
                                <span>31</span>
                            </a>
                            <a href="#" class="tw-counter">
                                <i class="icon-tw"></i>
                                <span>7</span>
                            </a>
                            <a href="#" class="gp-counter">
                                <i class="icon-g-plus"></i>
                                <span>0</span>
                            </a>
                            <a href="#" class="od-counter">
                                <i>{{ mixins.icon('odnoklassniki') }}</i>
                                <span>0</span>
                            </a>
                            <a href="#" class="vk-counter">
                                <i>{{ mixins.icon('vk') }}</i>
                                <span>0</span>
                            </a>
                        </div>
                    </div>
                    <div class="post__content">
                        <div class="post__in">
                            <h3 class="h3">Мои правила жизни, или фразы, которые никогда не говорила Мэрил Стрип</h3>
                            <div class="post__details">
                                <div class="post__left">
                                    <div class="category">Умные мысли</div>
                                </div>
                                <div class="post__right">
                                    <div class="post__views"><span class="icon-eye"></span> <span>1,2K</span></div>
                                    <div class="post__comments"><span class="icon-comment"></span> <span>1</span></div>
                                </div>
                            </div>
                            <article class="article">
                                <p><strong>Эти слова принадлежат португальскому писателю <strong><i>Хосе Микарду Тексейра</i></strong>. Но благодаря соц.сетям, которые неожиданно приписали их <strong><i>Мэрил Стрип</i></strong>, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</strong></p>
                                <img src="img/img9.jpg" alt="">
                                <blockquote class="classic-quote">Необязательно быть известной. Достаточно того, чтобы родители тобой гордились</blockquote>
                                <p>Эти слова принадлежат португальскому писателю <strong><i>Хосе Микарду Тексейра</i></strong>. Но благодаря соц.сетям, которые неожиданно приписали их <strong><i>Мэрил Стрип</i></strong>, эти мудрые правила стали известны миллионам людей. Что ж, даже если великая актриса никогда не произносила их, к этим словам хочется прислушаться.</p>
                                <ul>
                                    <li>Авторы сценария задумывали фильм как социальную драму, где главная героиня не
                                        только проститутка, но и наркоманка. Рабочее название фильма также было другим –
                                        $3,000. Столько получила Вивиан за эскорт-услуги в течение недели. После чего Эдвард
                                        выкинул ее из своей жизни и уехал.</li>
                                    <li>Когда сценарий приобрела компания Disney, мрачная драма превратилась в одну из
                                        лучших американских сказок о современной Золушке.</li>
                                    <li>  Когда сценарий приобрела компания Disney, мрачная драма превратилась в одну из
                                        лучших американских сказок о современной Золушке.</li>
                                </ul>
                                <pre>Самое главное – это наслаждаться жизнью, быть счастливыми. Только это имеет значение.</pre>
                                <pre class="pre-right">Самое главное – это наслаждаться жизнью, быть счастливыми. Только это имеет значение.</pre>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aspernatur at, dolore eligendi labore molestiae nam nesciunt optio quaerat quos ratione, sapiente soluta tenetur ullam! Dolorum fugit nobis unde.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore ex exercitationem illum labore magni maiores modi necessitatibus, nesciunt, quidem saepe soluta, tenetur veniam. Aut cum dolorum eius itaque numquam?</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate distinctio doloribus ea, esse exercitationem harum, ipsa magnam maxime, molestiae necessitatibus tempore veniam. Eaque et excepturi facilis impedit veniam.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate distinctio doloribus ea, esse exercitationem harum, ipsa magnam maxime, molestiae necessitatibus tempore veniam. Eaque et excepturi facilis impedit veniam.</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate distinctio doloribus ea, esse exercitationem harum, ipsa magnam maxime, molestiae necessitatibus tempore veniam. Eaque et excepturi facilis impedit veniam.</li>
                                </ol>
                                <img src="img/img10.jpg" alt="">
                                <blockquote class="classic-quote">Я больше не терплю некоторых вещей — не потому, что стала гордой, а просто потому, что я достигла того момента в жизни, когда  больше не хочу тратить время на то, что мне не нравится, или причиняет боль. Я не терплю цинизм, избыточную критику.</blockquote>
                                <img src="img/img8.jpg" alt="">
                                <blockquote class="classic-quote">Я потеряла желание угодить тем, кому я не нравлюсь, любить тех, кто не любит меня, и улыбаться тем, кто не хочет улыбаться мне. Я больше не трачу ни минуты на тех, кто врёт, или хочет манипулировать. Я решила не иметь ничего общего с притворством, лицемерием, нечестностью и дешёвой похвалой.</blockquote>
                            </article>
                            <div class="disqus">
                                <img src="img/disqus.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <aside class="sidebar">
                <!-- categories -->
                <div class="categories">
                    <h6 class="h6">Категории</h6>
                    <ul class="categories__list">
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Странности</div>
                                <div class="categories__counter">(2)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Фестивали</div>
                                <div class="categories__counter">(4)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Кино-звезды</div>
                                <div class="categories__counter">(3)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Умные мысли</div>
                                <div class="categories__counter">(8)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Photography</div>
                                <div class="categories__counter">(4)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Stories</div>
                                <div class="categories__counter">(2)</div>
                            </a>
                        </li>
                        <li class="categories__item">
                            <a href="#" class="categories__link">
                                <div class="categories__title">Travel</div>
                                <div class="categories__counter">(6)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <h6 class="h6">Интересное на этой неделе</h6>
                <!-- widget -->
                <div class="widget">
                    <div class="js-slick">
                        <div>
                            <a href="#" class="movie movie_comedy" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img2.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Comedy HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Безумный Макс: Дорога ярости</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">19:00</div>
                                        <div class="movie__date">26 апреля</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_premium" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img1.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Premium HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Восхождение Юпитер</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">20:00</div>
                                        <div class="movie__date">7 мая</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_comedy" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img2.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Comedy HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Безумный Макс: Дорога ярости</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">19:00</div>
                                        <div class="movie__date">26 апреля</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="movie movie_premium" tabindex="0">
                                <div class="movie__poster">
                                    <img src="img/img1.jpg" alt="">
                                </div>
                                <div class="movie__in">
                                    <div class="movie__channel">TV1000 Premium HD</div>
                                    <div class="movie__left">
                                        <div class="movie__title js-ellip">Восхождение Юпитер Восхождение Юпитер</div>
                                        <div class="movie__genre">Боевик</div>
                                    </div>
                                    <div class="movie__right">
                                        <div class="movie__time">20:00</div>
                                        <div class="movie__date">7 мая</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="divide"></div>
                <a href="#" class="subscr">Подпишитесь на анонсы</a>
                <a href="#" class="feedback">Свяжитесь с нами</a>
                <!-- widget -->
                <div class="fb-widget">
                    <img src="img/fb-widget.jpg" alt="">
                </div>
                <!-- banners -->
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                </div>
            </aside>
        </div>
        {# section #}
        <div class="section section_channels">
            <div class="center">
                <div class="n-channels">
                    <div class="n-channels__row js-channels2">
                        {% for channel in channels %}
                            <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}