---
title: Contacts
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
---


{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="container old">
        <div class="top top_dark">
            <div class="center">
                <!-- breadcrumbs -->
                <nav class="breadcrumbs breadcrumbs_white">
                    <ul>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <h1 class="h1">Контакты</h1>
            </div>
        </div>
        <div class="center">
            <!-- main -->
            <div class="main">
                <article class="content"><i></i><p style="border-bottom: 1px solid #DCDCDC;"><strong>Адрес: </strong>01054, Киев, ул. Тургеневская, 15 оф. 53<br><br><strong>Тел./факс:</strong> 044 498 54 89
                        <br><br></p></article>
                <div class="contact__form">
                    <form id="contact-page-form" action="/page/contacts" method="post" role="form">
                        <div class="form-group field-contactform-name required has-error">
                            <label class="control-label" for="contactform-name">Имя, Фамилия</label>
                            <input type="text" id="contactform-name" class="form-control" name="ContactForm[name]">
                            <p class="help-block help-block-error">Необходимо заполнить «Имя, Фамилия»</p>
                        </div>
                        <div class="form-group field-contactform-email required">
                            <label class="control-label" for="contactform-email">Email</label>
                            <input type="text" id="contactform-email" class="form-control" name="ContactForm[email]">
                            <p class="help-block help-block-error">Необходимо заполнить «Email»</p>
                        </div>
                        <div class="form-group field-contactform-phone">
                            <label class="control-label" for="contactform-phone">Телефон</label><input type="text" id="contactform-phone" class="form-control" name="ContactForm[phone]">
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-contactform-text required">
                            <label class="control-label" for="contactform-text">Текст</label>
                            <textarea id="contactform-text" class="form-control" name="ContactForm[text]" rows="6"></textarea>
                            <p class="help-block help-block-error">Необходимо заполнить «Текст»</p>
                        </div>
                        <div class="form-group field-contactform-channel">
                            <label class="control-label" for="contactform-channel">ТВ-каналы</label>
                            <input type="text" id="contactform-channel" class="form-control" name="ContactForm[channel]">
                            <p class="help-block help-block-error"></p>
                        </div>
                        <div class="form-group field-contactform-verifycode required">
                            <label class="control-label" for="contactform-verifycode">Защитный код</label>
                            <div class="row">
                                <div class="col-lg-3">
                                    <img id="contactform-verifycode-image" src="img/captcha.png" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" id="contactform-verifycode" class="form-control" name="ContactForm[verifyCode]">
                                </div>
                            </div>
                            <p class="help-block help-block-error">Неправильный проверочный код</p>
                        </div>
                        <button type="submit" class="btn btn-primary" name="contact-button">Отправить</button>
                    </form>
                </div>
            </div>
            <!-- sidebar -->
            <aside class="sidebar">
                <a href="#" class="subscr">Подпишитесь на анонсы</a>
                <a href="#" class="feedback">Свяжитесь с нами</a>
                <!-- widget -->
                <div class="fb-widget">
                    <img src="img/fb-widget.jpg" alt="">
                </div>
                <!-- banners -->
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                </div>
            </aside>
        </div>
        {# section #}
        <div class="section section_channels">
            <div class="center">
                <div class="n-channels">
                    <div class="n-channels__row js-channels2">
                        {% for channel in channels %}
                            <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}