---
title: TV-program download
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
---


{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="container old">
        <div class="top top_dark">
            <div class="center">
                <!-- breadcrumbs -->
                <nav class="breadcrumbs breadcrumbs_white">
                    <ul>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">Скачать телепрограмму</a>
                        </li>
                    </ul>
                </nav>
                <h1 class="h1">Скачать телепрограмму</h1>
            </div>
        </div>
        <div class="center">
            <!-- main -->
            <div class="main">
                <div style="background: #fff; padding: 5px 10px 20px 30px;">
                    <form action="/tv-download">
                        <div class="popup__formselect">
                            Выберите канал:
                            <div class="select js-select">
                                <span class="select__text js-select-text">TV1000 Premium HD</span>
                                <ul class="select__list js-select-list" style="width: 200px;">
                                    <li data-val="6">TV1000 Premium HD</li>
                                    <li data-val="8">TV1000</li>
                                    <li data-val="3">TV1000 Megahit HD</li>
                                    <li data-val="1">TV1000 Action</li>
                                    <li data-val="2">TV1000 Comedy HD</li>
                                    <li data-val="7">TV1000 Русское кино</li>
                                    <li data-val="9">Viasat Explore</li>
                                    <li data-val="10">Viasat History</li>
                                    <li data-val="4">Viasat Nature</li>
                                    <li data-val="5">Viasat Nature/History HD</li>
                                    <li data-val="12">Viasat Sport</li>
                                </ul>
                                <select name="channel_id">
                                    <option value="6">TV1000 Premium HD</option>
                                    <option value="8">TV1000</option>
                                    <option value="3">TV1000 Megahit HD</option>
                                    <option value="1">TV1000 Action</option>
                                    <option value="2">TV1000 Comedy HD</option>
                                    <option value="7">TV1000 Русское кино</option>
                                    <option value="9">Viasat Explore</option>
                                    <option value="10">Viasat History</option>
                                    <option value="4">Viasat Nature</option>
                                    <option value="5">Viasat Nature/History HD</option>
                                    <option value="12">Viasat Sport</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn_full btn_purple btn_small">Показать</button>
                        </div>
                    </form>
                    <div class="prov-list" style="margin-top: 20px;">
                        <div class="prov">
                            <div class="prov__title">2016</div>
                            <div class="prov__details">
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 26</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 25</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 24</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 23</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 22</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 21</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 20</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 19</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 18</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 17</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 16</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 15</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 14</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 13</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="prov__title">2015</div>
                            <div class="prov__details">
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 53</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prov__row">
                                    <div class="prov__col">Неделя 52</div>
                                    <div class="prov__list">
                                        <ul>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.pdf" target="_blank">PDF</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26.txt" target="_blank">TEXT</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_tab.txt" target="_blank">TAB</a></li>
                                            <li><a href="/uploads/tv_download/tv1000_premium_hd_ua_2016-26_brief.txt" target="_blank">TEXT2</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <aside class="sidebar">
                <a href="#" class="subscr">Подпишитесь на анонсы</a>
                <a href="#" class="feedback">Свяжитесь с нами</a>
                <!-- widget -->
                <div class="fb-widget">
                    <img src="img/fb-widget.jpg" alt="">
                </div>
                <!-- banners -->
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                </div>
            </aside>
        </div>
        {# section #}
        <div class="section section_channels">
            <div class="center">
                <div class="n-channels">
                    <div class="n-channels__row js-channels2">
                        {% for channel in channels %}
                            <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}