---
title: Logos
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
---


{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="container old">
        <div class="top top_dark">
            <div class="center">
                <!-- breadcrumbs -->
                <nav class="breadcrumbs breadcrumbs_white">
                    <ul>
                        <li>
                            <a href="#">Главная</a>
                        </li>
                        <li>
                            <a href="#">TV1000 Premium HD</a>
                        </li>
                    </ul>
                </nav>
                <h1 class="h1">Логотипы</h1>
            </div>
        </div>
        <div class="center">
            <!-- main -->
            <div class="main">
                <article class="content">
                    <table width="100%" border="0" cellspacing="3" cellpadding="2" class="tbl_logos_donwloads" style="border-collapse: collapse;">
                        <tbody>
                            <tr><td width="115"><p align="center"><img src="http://www.viasat-channels.tv/upload/viasat_logo_prew_small.jpg"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/viasat_new.eps">Для загрузки векторного логотипа высокого разрешения Viasat нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/tvgid_logo_premium.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/PremiumHD.eps">Для загрузки векторного логотипа высокого разрешения TV1000 Premium HD нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/tvgid_logo_megahit.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/MegahitHD.eps">Для загрузки векторного логотипа высокого разрешения TV1000 Megahit HD нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/tvgid_logo_comedy.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/ComedyHD.eps">Для загрузки векторного логотипа высокого разрешения TV1000 Comedy HD нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/1000.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/TV1000-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала TV 1000 нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/action.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/TV1000-Action-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала TV 1000 Action нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/rus.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/TV1000-Russian-Kino-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала TV1000 Русское Кино нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/exploer.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/Explorer-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat Explorer нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/history.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/History-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat History нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" height="39" src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/tv_gid/nature.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/Nature-Logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat Nature нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/channels/logo_Nature_HD.png" border="0" width="131" height="39"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/NatureHD.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat Nature ND нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img src="http://www.viasat-channels.tv/bitrix/templates/index2012/img/logos/channels/logo_History_HD.png" border="0" width="131" height="39"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/historyHD.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat History HD нажмите на эту ссылку</a></td></tr>
                            <tr><td width="115" style="vertical-align: middle;"><p align="center"><img width="131" title="Viasat-Sport-logo.png" alt="Viasat-Sport-logo.png" src="http://www.viasat-channels.tv/upload/medialibrary/b30/b308cd26193be79d9196e103e636dcf0.png"></p></td><td width="300" style="vertical-align: middle;"><a href="http://www.viasat-channels.tv/upload/logos/Viasat-Sport-logo.eps">Для загрузки векторного логотипа высокого разрешения для телеканала Viasat Sport нажмите на эту ссылку</a></td></tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <!-- sidebar -->
            <aside class="sidebar">
                <a href="#" class="subscr">Подпишитесь на анонсы</a>
                <a href="#" class="feedback">Свяжитесь с нами</a>
                <!-- widget -->
                <div class="fb-widget">
                    <img src="img/fb-widget.jpg" alt="">
                </div>
                <!-- banners -->
                <div class="banner">
                    <img src="img/banner.jpg" alt="">
                </div>
            </aside>
        </div>
        {# section #}
        <div class="section section_channels">
            <div class="center">
                <div class="n-channels">
                    <div class="n-channels__row js-channels2">
                        {% for channel in channels %}
                            <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}