---
title: Подборка
channels:
- img: img/channel1.png
- img: img/channel2.png
- img: img/channel3.png
- img: img/channel4.png
- img: img/channel5.png
- img: img/channel6.png
- img: img/channel7.png
- img: img/channel8.png
- img: img/channel9.png
- img: img/channel10.png
- img: img/channel11.png
- img: img/channel12.png
cards:
- img: 'img/img1.jpg'
  channel: 'TV1000 Premium HD'
  title: 'Восхождение Юпитер'
  time: '20:00'
  date: '7 мая'
  color: premium
  genre: 'Комедия, Драма, Семейный'
  country: 'Великобритания, 2011'
- img: img/img2.jpg
  channel: 'TV1000 Comedy HD'
  title: 'Безумный Макс: Дорога ярости'
  time: '19:00'
  date: '26 апреля'
  color: comedy
  genre: 'Комедия'
  country: 'США, 2014'
- img: 'img/img3.jpg'
  channel: 'TV1000 Action HD'
  title: 'Дедушка легкого поведения'
  time: '19:00'
  date: '28 апреля'
  color: action
  genre: 'Комедия, Драма, Семейный'
  country: 'Великобритания, 2011'
- img: 'img/img1.jpg'
  channel: 'TV1000 Premium HD'
  title: 'Восхождение Юпитер'
  time: '20:00'
  date: '7 мая'
  color: premium
  genre: 'Комедия'
  country: 'США, 2014'
- img: img/img2.jpg
  channel: 'TV1000 Comedy HD'
  title: 'Безумный Макс: Дорога ярости'
  time: '19:00'
  date: '26 апреля'
  color: comedy
  genre: 'Комедия, Драма, Семейный'
  country: 'Великобритания, 2011'
- img: 'img/img3.jpg'
  channel: 'TV1000 Action HD'
  title: 'Дедушка легкого поведения'
  time: '19:00'
  date: '28 апреля'
  color: action
  genre: 'Комедия'
  country: 'США, 2014'
- img: 'img/img3.jpg'
  channel: 'TV1000 Action HD'
  title: 'Дедушка легкого поведения'
  time: '19:00'
  date: '28 апреля'
  color: action
  genre: 'Комедия, Драма, Семейный'
  country: 'Великобритания, 2011'
- img: 'img/img1.jpg'
  channel: 'TV1000 Premium HD'
  title: 'Восхождение Юпитер'
  time: '20:00'
  date: '7 мая'
  color: premium
  genre: 'Комедия'
  country: 'США, 2014'
---

{% extends "./layouts/_layout.html" %}

{% block content %}
    <div class="out">
        <div class="topper topper_big" style="background-image: url(img/topper3.jpg)">
            <div class="topper__in">
                <div class="center">
                    {# nav #}
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Фильмотека</a></li>
                            <li>Подборки фильмов</li>
                        </ul>
                    </nav>
                    <div class="topper__head">
                        <div class="topper__left">
                            <h1 class="n-h1">Фильмы для всей семьи</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# main page content #}
        <div class="main">
            <div class="center">

                <div class="catalog catalog_top">
                    <div class="catalog__in">
                        {% for card in cards %}
                            <a href="#" class="card card_{{ card.color }}">
                                <div class="card__poster">
                                    <img src="{{ card.img }}" alt="">
                                </div>
                                <div class="card__in">
                                    <div class="card__title js-ellip">{{ card.title }}</div>
                                    <div class="card__about">
                                        <p class="js-ellip">{{ card.genre }}</p>
                                        <p class="js-ellip">{{ card.country }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="more">
                        <a href="#" class="n-btn n-btn_small n-btn_white">Показать еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# section #}
    <div class="section section_channels">
        <div class="center">
            <div class="n-channels">
                <div class="n-channels__row js-channels2">
                    {% for channel in channels %}
                        <div class="n-channels__item"><a href="#" class="n-channels__link"><img href="#" src="{{ channel.img }}" class="n-channels__logo"></a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}