<tr>
	<td style="background: #e8e9f1;">
		<table width="100%">
			<tr>
				<td>
					<table>
						{{mixins.space(9)}}
						<tr>

							<td align="left" width="106"><a class="footer-link" href="#"><img src="https://s21.postimg.org/a5lt2kqqv/logo1.png" alt="TV1000 HD"></a></td>
							<td align="left" width="106"><a class="footer-link" href="#"><img src="https://s17.postimg.org/9aoigrgfz/logo2.png" alt="TV1000 HD"></a></td>
							<td align="left" width="111"><a class="footer-link" href="#"><img src="https://s13.postimg.org/57dn1x9nb/logo3.png" alt="TV1000"></a></td>
							<td align="left" width="103"><a class="footer-link" href="#"><img src="https://s22.postimg.org/wu5y5ejxd/logo4.png" alt="TV1000"></a></td>
							<td align="left" width="108"><a class="footer-link" href="#"><img src="https://s12.postimg.org/ivh3ldovh/logo5.png" alt="TV1000 HD"></a></td>
							<td align="left" width="66"><a class="footer-link" href="#"><img src="https://s18.postimg.org/4g6pur6c9/logo6.png" alt="TV1000"></a></td>
						</tr>
						{{mixins.space(18)}}
						<tr>
							<td align="left" width="106"><a class="footer-link" href="#"><img src="https://s14.postimg.org/xdyfdknnl/logo7.png" alt="viasat nature"></a></td>
							<td align="left" width="106"><a class="footer-link" href="#"><img src="https://s17.postimg.org/tlaevf7un/logo8.png" alt="viasat nature"></a></td>
							<td align="left" width="111"><a class="footer-link" href="#"><img src="https://s22.postimg.org/4txchzash/logo9.png" alt="viasat"></a></td>
							<td align="left" width="103"><a class="footer-link" href="#"><img src="https://s15.postimg.org/cdhxsnw2z/logo10.png" alt="viasat history"></a></td>
							<td align="left" width="108"><a class="footer-link" href="#"><img src="https://s22.postimg.org/llgs84amp/logo11.png" alt="viasat history"></a></td>
							<td align="left" width="66"><a class="footer-link" href="#"><img src="https://s11.postimg.org/8nxeww99f/logo12.png" alt="viasat explore"></a></td>
						</tr>
						{{mixins.space(32)}}
					</table>
				</td>
			</tr>
			<tr>
				<td align="center"><div class="footer-text">С наилучшими пожеланиями,</div> </td>
			</tr>
			<tr>
				<td align="center"><div class="footer-text">команда Viasat</div> </td>
			</tr>
			{{mixins.space(30)}}
		</table>
	</td>
</tr>
