<tr>
	<td>
		<table>
			<tr>
				<td width="600" height="16" align="center">
					<span style="display:none; font-size:1px; color:#333333; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden;">Подарите себе и близким яркие эмоции! Смотрите лучшие художественные и документальные фильмы в отличном качестве и без перерыва на рекламу.</span>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
<tr>
	<td>
		<table>
			<tr>
				<td width="600" height="16" align="center">
					<a href="http://www.viasat-channels.tv/" style="font-size: 14px; text-decoration: none; line-height: 1;">Письмо отображается неправильно? Нажмите здесь.</a>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<!-- startLogo -->
	<td>
		<table>
			<tr>
				<td width="223" height="21">&nbsp;&nbsp;</td>
				<td>&nbsp;&nbsp;</td>
				<td width="229">&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="223" height="33">&nbsp;</td>
				<td width="148" height="33"><a href="{{logoLink}}"><img src="http://www.imageup.ru/img104/2606522/logo.jpg" alt="Viasat"></a></td>
				<td width="229">&nbsp;</td>
			</tr>
			<tr>
				<td width="223" height="21">&nbsp;</td>
				<td>&nbsp;</td>
				<td width="229">&nbsp;</td>
			</tr>
		</table>
	</td>
	<!-- end logo -->
</tr>
